[Unit]
Description=Re-enable iMac Fan Control after suspend
After=suspend.target hibernate.target hybrid-sleep.target

[Service]
Type=oneshot
ExecStart=/bin/bash -c 'echo 1 > /sys/devices/platform/applesmc.768/fan1_manual; echo 1 > /sys/devices/platform/applesmc.768/fan2_manual; echo 1 > /sys/devices/platform/applesmc.768/fan3_manual; systemctl restart imac-custom-fan-control.service'

[Install]
WantedBy=suspend.target
WantedBy=hibernate.target
WantedBy=sleep.target
WantedBy=hybrid-sleep.target
